 
# Include our external MCUs
[include mcu-pi4.cfg]
#[include mcu-rp2040.cfg]
#[include configs/kusba_v2.cfg]

# Include our web interfaces
[include mainsail.cfg]
[include fluidd.cfg]

# Include our print head options.
# Comment out the heads currently not in use.
#[include configs/mutant-ender3v2.cfg]
[include configs/mutant-biqu_h2_v2s.cfg]
#[include configs/mutant-laser-base.cfg]

# [include shell_command.cfg]

[force_move] 
enable_force_move: true 

[respond]
default_type: echo
default_prefix: 

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1A0045001950425938323120-if00
baud: 250000

[virtual_sdcard]
path: /home/stephenfeather/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

[idle_timeout]
# How long to wait in a PAUSE state before abandoning the print. Default is 10 minutes.
timeout: 3600	# One hour

#########################
######## tmc2209 ########
#########################
[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
#hold_current: 0.500
#stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
#hold_current: 0.500
#stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
#hold_current: 0.500
#stealthchop_threshold: 999999

# !!! [tmc2209 extruder] moved into head specific cfg file

######################
######## FANS ########
######################
[fan]
pin: PC6
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.010
hardware_pwm: false
kick_start_time: 0.100
off_below:0.0

# TODO: This should probably be pulled out into its own file or into a head
[heater_fan heatbreak_cooling_fan]
pin: PB15
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0
heater: extruder
heater_temp: 35.0
fan_speed: 1.0

[controller_fan stepper_fan]
pin: PC7
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0
stepper: stepper_x, stepper_y, stepper_z
fan_speed: 1.0


[include configs/bed.cfg]

#########################
######## SENSORS ######## 
#########################
[temperature_sensor SKR_Mini_E3_V2]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp
min_temp: 10
max_temp: 100

# This is our filament runout and clog sensor
[include configs/btt_sfsv2.cfg]

#########################
######## MACROS ######### 
#########################

[include macros/macros_start_cancel_end.cfg]
[include macros/macros_pause_resume.cfg]
[include macros/macros_parking.cfg]

[include macros/btt_smart_filament_sensor_macros.cfg]
[include moonraker_obico_macros.cfg]
[include macros/timelapse.cfg]

[include macros/get_probe_limits.cfg]
[include macros/macro_test_speed.cfg]
[include macros/macros_get_variable.cfg]



[gcode_macro PURGE_LINE_X]
Description: Prints a purge line on the x-axis
gcode:
    G1 X01 Y20 Z0.3 F5000.0 ; Move to start position
    G1 X01 Y190.0 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X01.4 Y190.0 Z0.3 F5000.0 ; Move to side a little
    G1 X01.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
    G1 Z5 F1500

[gcode_macro PURGE_LINE_Y]
Description: Prints a purge line on the y-axis
gcode:
    G1 X20 Y01 Z0.3 F5000.0 ; Move to start position
    G1 X190 Y01 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X190 Y1.4 Z0.3 F5000.0 ; Move to side a little
    G1 X20 Y1.4 Z0.3 F1500.0 E30 ; Draw the second line
    G1 Z5 F1500

[gcode_macro DUMP_VARIABLES]
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}
    
    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {action_respond_info(out|join("\n"))}


  
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>



#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh h2_default]
#*# version = 1
#*# points =
#*# 	0.137756, 0.107756, 0.067756, 0.025256
#*# 	0.110256, 0.087756, 0.030256, -0.009744
#*# 	0.100256, 0.067756, 0.005256, -0.019744
#*# 	0.505256, 0.115256, 0.057756, 0.030256
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 0.0
#*# max_x = 147.75
#*# min_y = 0.0
#*# max_y = 200.73
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.000000, -0.042500, -0.105000, -0.282500
#*# 	  -0.060000, -0.090000, -0.155000, -0.325000
#*# 	  -0.052500, -0.097500, -0.175000, -0.330000
#*# 	  0.178333, -0.042500, -0.107500, -0.262500
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 0.0
#*# max_x = 147.75
#*# min_y = 0.0
#*# max_y = 200.73
#*#
